.friendbox-container {
  display: flex;
  justify-content: center;
}

.friendbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 220px;
  height: 280px;
  border-radius: 15px;
  background-color: var(--color-normal);

  margin: 0px;
}

.friendbox-firstpart {
  display: flex;

  margin-bottom: 0px;
}

.friendbox-secondpart {
  display: flex;
  justify-content: center;

  margin: 20px;
  margin-top: -20px;

  column-gap: 20px;
}

.friendbox-button {
  border-width: 0;
  background-color: transparent;

  font-size: 10px;
  color: var(--color-dark);

  cursor: pointer;
  margin-top: 10px;

  font-weight: bold;
}
